SECRET_KEY=your_secret_key_with_uuid4_hex_32_character
SQLALCHEMY_DATABASE_URI=sqlite:///your_db.db
# access_token_5_minutes
JWT_ACCESS_TOKEN_EXPIRES=5
# refresh_token_30_day
JWT_REFRESH_TOKEN_EXPIRES=30
